header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

.done {
    text-decoration: line-through;
}

div.placeholder {
    width: 226px;
    height: 314px;
}